# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies - REMOVED the leading slashes
node_modules/
.pnp
.pnp.js
.yarn/

# testing
coverage/

# next.js
.next/
out/

# production
build/
dist/

# firebase (Specific to your project)
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# local env files - EXTREMELY IMPORTANT
.env*.local
.env
.env.local

# misc
.DS_Store
*.pem
tsconfig.tsbuildinfo